.p1
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.product-title
{
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
